html,body {
	/* background: url("/image/login/bg.jpg"); */
	background: #fff;
	height: 100%;
}

.myapp-login {background: #fff;height: 100%;background-size: 100%;margin: 0 auto;width: 100%;}
.myapp-login .myapp-login-block {width: 100%;}
.myapp-login .myapp-login-block .myapp-login-logo {width: 100%;text-align: center;padding-top: 80px;}
.myapp-login .myapp-login-block .myapp-login-logo span {
	background: url("/image/login/file.png");display: inline-block;width: 130px;height: 130px;
}
.myapp-login .myapp-login-block .myapp-login-logo-text {
	font-family: "Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
	font-weight: bold;font-size: 40px;text-align: center;width: 100%;padding-bottom: 30px;
	border-bottom: 1px solid #2581bb;padding-top: 15px;
}
.myapp-login .myapp-login-block .myapp-login-logo-text span {color: #247eb6;}
